.box{
	border: 1px solid #7BA0C4;
	background-color:  #7BA0C4;
	color: #FFFFFF;
	border-radius: 20px;
	padding: 20px;
	font-size: 20px;
}

.form-signin {
	padding: 10px 30px 30px;
	margin: 0 auto 20px;
	background-color: #F8F8F8;
	border: 1px solid #7BA0C4;
	-webkit-border-radius: 5px;
   	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
   	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
	margin-bottom: 10px;
}

.form-signin input[type="text"],
.form-signin input[type="password"], 
.form-signin input[type="email"]{
	font-size: 16px;
	height: auto;
	margin-bottom: 15px;
	padding: 7px 9px;
}

.description{
	margin-bottom: 20px;
}