body {
	padding: 40px 40px 0px 40px;
	background-color: #7BA0C4;
}

.header{
	line-height: normal;
	font-size: 60px;
	color: #7BA0C4;
}

.header-description{
	margin-bottom: 10px;
}

.container-fluid.wrapper,
.container.wrapper{
	background-color: #F8F8F8;
	border: 1px solid #7BA0C4;
	border-radius: 50px;
	padding: 10px;
	padding-top: 125px;
}

.brown{
	color: #9F8170;
}

.blue{
	color: #7BA0C4;
}

.masthead{
	background-color: #F8F8F8;
	border-bottom: 2px solid #7BA0C4;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}	