body {
	padding: 40px;
	padding-top: 80px;
	background-color: #7BA0C4;
	color: black;
	line-height: normal;
}

.container-fluid{
	background-color: #FFFFFF;
	border: 1px solid #7BA0C4;
	border-radius: 0px;
}

.header{
	line-height: normal;
	font-size: 60px;
	color: #7BA0C4;
}
.table{
	background-color: white;
	font-size: 20px;
	color: black
	
}
.box{
	border: 1px solid #7BA0C4;
	background-color:  #7BA0C4;
	color: #FFFFFF;
	border-radius: 20px;
	padding: 20px;
}